  body {
    color: black; background-color: white;
    font-size: 100.01%;
    font-family: Helvetica,Arial,sans-serif;
    margin: 0; padding: 1em;
    min-width: 41em; /* largeur minimale qui empêche des sauts à
                        la ligne et des erreurs d'affichage avec les navigateurs modernes */
  }

  h1 {
    font-size: 1.5em;
    margin: 0 0 0.7em; padding: 0.3em;
    text-align: center;
    background-color: #fed;
    border: 2px ridge silver;
  }

  ul#menu {
    font-size: 0.83em;
    float: left; width: 18em;
    margin: 0 0 1.2em; padding: 0;
    border: 1px dashed silver;
  }
  ul#menu li {
    list-style: none;
    margin: 0; padding: 0.5em;
  }
  ul#menu a {
    display: block;
    padding: 0.2em;
    font-weight: bold;
  }
  ul#menu a:link {
    color: black; background-color: #eee;
  }
  ul#menu a:visited {
    color: #666; background-color: #eee;
  }
  ul#menu a:hover {
    color: black; background-color: white;
  }
  ul#menu a:active {
    color: white; background-color: gray;
  }

  div#info {
    font-size: 0.9em;
    float: right; width: 12em;
    margin: 0 0 1.1em; padding: 0;
    background-color: #eee; border: 1px dashed silver;
  }
  div#info h2 {
    font-size: 1.33em;
    margin: 0.2em 0.5em;
  }
  div#info p {
    font-size: 1em;
    margin: 0.5em;
  }

  div#contenu {
    margin: 0 12em 1em 16em;
    padding: 0 1em;
    border: 1px dashed silver;
  }
  * html div#contenu {
    height: 1em;  /* contre la bogue des 3 pixels avec Internet Explorer y compris la version 6 */
  }
  div#contenu h2 {
    font-size: 1.2em;
    margin: 0.2em 0;
  }
  div#contenu p {
    font-size: 1em;
    margin: 1em 0;
  }

  p#pied {
    clear: both;
    font-size: 0.9em;
    margin: 0; padding: 0.1em;
    text-align: center;
    background-color: #fed; border: 1px solid silver;
  }